node_modules/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

notes_project.sql
notes_project2.sql
my_project.sql
seed.sql

*.sublime-project
*.sublime-workspace
    